<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag sessions_path do %>
			
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email] %>
			
			<%= label_tag :password %>
			<%= password_field_tag :password %>
			
			<%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
		
		<p>New user?</p>
		<p>&nbsp;&nbsp;&nbsp; <%= link_to "Sign up now!", signup_path %></p>
		<p>&nbsp;&nbsp;&nbsp; <%= link_to "Log in through Facebook!", facebook_path, :method => :post %></p>
		<p>&nbsp;&nbsp;&nbsp; <%= link_to "Log in through Twitter!", twitter_path, :method => :post %></p>
		
	</div>
</div>