<%= provide(:title, "The Bet") %>
<h1>The Bet</h1>
<div class="row">
	<div class="span6 offset3">
		Bet: <%= @bet.thebet %><br>
		Created By: <%= @bet.user.name %><br>
		<br><br>
		Your Pick:
		<% if !@bet.userpick(current_user).nil? %>
			<%= @bet.userpick(current_user).pick ? 'Yes' : 'No' %>
		<% else %>
			<% if @bet.betresult.nil? %>
				<%= form_for(@bet, :url => picks_path, :html => {:method => :post}) do |f| %>			
					<%= hidden_field_tag 'bet_id', @bet.id %>
					<%= f.submit "PickY", class: "btn btn-large btn-primary" %>
					<%= f.submit "PickN", class: "btn btn-large btn-primary" %>
				<% end %>
			<% else %>
				You didn't make a pick.
			<% end %>
		<% end %>
		<br><br>
		The Result:
		<% if @bet.betresult.nil? %>
			<% if current_user == @bet.user %>	
				<%= form_for(@bet) do |f| %>			
					<%= f.submit "Yes", class: "btn btn-large btn-primary" %>
					<%= f.submit "No", class: "btn btn-large btn-primary" %>
				<% end %>
			<% end %>
		<% else %>
			<%= @bet.betresult ? 'Yes' : 'No' %>
		<% end %>
	
		<% if current_user == @bet.user %>
			OWNER
		<% end %>
	</div>
</div>