<%= provide(:title, "The Bet") %>
<h1>The Bet</h1>
<div class="row">
	<div class="span6 offset3">
		Bet: <%= @bet.thebet %><br>
		Created By: <%= @bet.user.name %>
		<br><br><br>
		<%= render 'shared/bet_finalresults' %>
		<%= render 'shared/bet_new' %>
	</div>
</div>