<%= provide(:title, @user.name) %>
<div class="row">
	<h1><%= @user.name %></h1>
	<h2><div align="left">
		Email: <%= @user.email %><br>
		Twitter: <%= @user.twittername %><br>
		Facebook: <%= @user.facebookname %><br>
	</div></h2>
</div>