<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
		<h1><%= @user.name %></h1><br>
		<h2Email: <%= @user.email %><br>
		Twitter: <%= @user.twittername %><br>
		Facebook: <%= @user.facebookname %><br>
		</h2>
		</section>
	</aside>
	<div class="span8">
		<% if @user.bets.any? %>
			<h3>Bets (<%= @user.bets.count %>)</h3>
			<ol class="bets">
				<%= render @bets %>
			</ol>
			<%= will_paginate @bets %>
		<% end %>
	</div>
</div>