<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
		<h1><%= @user.name %></h1><br>
		<h2>Email: <%= @user.email %><br>
		Twitter: <%= @user.twittername %><br>
		Facebook: <%= @user.facebookname %><br>
		</h2>
		</section>
	</aside>
	<div class="span8">
		<% if @user.myownbets.any? %>
			<h3>My Bets (<%= @user.myownbets.count %>)</h3>
			<ol class="bets">
				<% @myownbets.each do |bet| %>
				<li>
					<span class="content"><%= link_to bet.thebet, bet.betresult.nil? ? edit_bet_path(bet) : bet_path(bet) %></span>
					<span class="timestamp">
						Posted <%= time_ago_in_words(bet.created_at) %> ago by <%= User.find(bet.user_id).name %>.
					</span>
				</li>
				<% end %>
			</ol>
			<%= will_paginate @myownbets %>
		<% end %>
	</div>
</div>