<% if @bet.betresult.nil? %>
	<br>
	<!-- Change language if they've sent to friends already -->
	<% if (current_user == @bet.user && @bet.betshared?) ||
		  (current_user != @bet.user && !@bet.userpick(current_user).nil? && 
				@bet.userpick(current_user).betshared?) %>
		<b>Find out what more friends think?</b>
	<% else %>
		<b>Find out what your friends think?</b>
	<% end %>
	<br>
	<%= form_for(@bet, :url => picks_path, :html => {:method => :post}) do |f| %>			
		<%= hidden_field_tag 'bet_id', @bet.id %>
		<% if current_user.twitter? %>
			<%= text_area_tag(:tweet, @bet_twitter_post, :size => "30x2", :class => "tweet") %><br>
			<span class="countdown"></span><br>
			<%= f.submit "Share on Twitter", class: "twitterbtn btn btn-large btn-primary" %>
		<% else %>
			<%= link_to 'Authorize Twitter', twitter_path, :method => :post %>
		<% end %>
		
		<% if current_user.facebook? %>
			<%= f.submit "Share on Facebook", class: "btn btn-large btn-primary" %>
		<% else %>
			<%= link_to 'Authorize Facebook', facebook_path, :method => :post %>
		<% end %>
	<% end %>
	Copy this link: <%= request.url %>
	<br>
<% end %>
<br>


<script>
function updateCountdown() {
	var urlregex = /(^|\s)((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/gi;
	var charcount = jQuery('.tweet').val().replace(urlregex, '123456789012345678901').length;
	jQuery('.countdown').text(charcount + ' characters.');
	if (charcount > 140) {
		jQuery('.countdown').css('color', 'red');
		jQuery('.twitterbtn').attr("disabled", "disabled");
	} else {
		jQuery('.countdown').css('color', 'black');
		jQuery('.twitterbtn').removeAttr("disabled");
	}
}

jQuery(document).ready(function($) {
	updateCountdown();
	$('.tweet').change(updateCountdown);
	$('.tweet').keyup(updateCountdown);
});
</script>