<% if signed_in? %>
  <div class="row">
	<% if current_user.facebook? %>
	  Facebook authorized! -
	  <%= link_to 'click here to deauthorize Facebook', facebook_path, :method => :delete %>
	<% else %>
	  <%= link_to 'Authorize Facebook', facebook_path, :method => :post %>
	<% end %>
	<br>
	<h1>Twitter</h1>
	<% if current_user.twitter? %>
	  Twitter authorized! -
	  <%= link_to 'click here to deauthorize Twitter', twitter_path, :method => :delete %>
	<% else %>
	  <%= link_to 'Authorize Twitter', twitter_path, :method => :post %>
	<% end %>
	
	<h1>Make a bet!</h1>
	<%= render 'shared/bet_info' %>
  </div>
<% else %>
  <div class="center hero-unit">
	<h1>Welcome to I Bet You</h1>
	<h2>
		This is the home page for I Bet You
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>